<h1 style="text-align:center"><strong>Price Elasticity of Demand</strong></h1>

<h2><strong>Problem Statement</strong></h2>


<pre><code>ABC Electronics is a company that produces and sells a variety of electronics goods, including speakers, laptops, and televisions. The company is facing a major challenge in managing their inventory. Despite their efforts to reduce costs and increase sales, they have noticed a decline in sales for a particular category of products. They believe that the decline in sales is due to a change in consumer behaviour, specifically in the way that consumers are responding to changes in price. In order to address this issue, ABC Electronics has asked us to perform a data science project on the Price Elasticity of Demand for their products. This project will be developed with stakeholder"s needs in mind and potentially deliver significant value to sales, marketing, and regulatory managers, by providing data-driven insights into consumer behaviour and product demand.</code></pre>

In [1]:
# IMPORTING PACKAGES
# ------------------------------------------------------
import pandas as pd
import numpy as np
import os
import re
import warnings

# VISUALIZATION
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
%matplotlib inline
pd.options.display.max_columns = 0
pd.options.display.max_colwidth =10

# CONFIGURATIONS
# ------------------------------------------------------
warnings.filterwarnings("ignore")

<h2><strong>Data Gathering</strong></h2>


<pre><code>ABC Electronics has provided us with sales data for the past three years, including information on product categories, prices, and quantities sold.</code></pre>

In [2]:
#os.chdir("C:\\Users\\SkyLake\\Documents\\Python2.0\\01-ML-PEoD\\data")
os.chdir("data/")
raw_data = "G1-PriceElasticityOfDemand-FinalDataSetCombined.csv"

In [4]:
df = pd.read_csv(raw_data)

In [5]:
df.head(1)

          id  prices.amountMax  ...  Unnamed: 31 Unnamed: 32
0  AVphzg...     104.99         ...        NaN          NaN

[1 rows x 33 columns]

In [6]:
# some general information 
print(f"Total number of rows : = {df.shape[0]}")
print(f"Total number of columns : = {df.shape[1]}")

Total number of rows : = 14592
Total number of columns : = 33

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14592 entries, 0 to 14591
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   14592 non-null  object
 1   prices.amountMax     14592 non-null  float64
 2   prices.amountMin     14592 non-null  float64
 3   prices.availability  12667 non-null  object
 4   prices.condition     13189 non-null  object
 5   prices.currency      14592 non-null  object
 6   prices.dateSeen      14592 non-null  object
 7   prices.isSale        14592 non-null  bool
 8   prices.merchant      13820 non-null  object
 9   prices.shipping      8793 non-null   object
 10  prices.sourceURLs    14592 non-null  object
 11  Cluster              14592 non-null  int64
 12  Category_name        14592 non-null  object
 13  asins                14592 non-null  object
 14  brand                14592 non-null  object
 15  categories           14592 non-null  object
 16  dateAdded            14592 non-null  object
 17  dateUpdated          14592 non-null  object
 18  ean                  4208 non-null   object
 19  imageURLs            14592 non-null  object
 20  keys                 14592 non-null  object
 21  manufacturer         7618 non-null   object
 22  manufacturerNumber   14592 non-null  object
 23  name                 14592 non-null  object
 24  primaryCategories    14592 non-null  object
 25  sourceURLs           14592 non-null  object
 26  upc                  14592 non-null  object
 27  weight               14592 non-null  object
 28  shipping             8793 non-null   object
 29  Unnamed: 29          0 non-null      float64
 30  Unnamed: 30          0 non-null      float64
 31  Unnamed: 31          0 non-null      float64
 32  Unnamed: 32          540 non-null    object
dtypes: bool(1), float64(5), int64(1), object(26)
memory usage: 3.6+ MB

<h2><strong>Data Cleaning/Preprocessing</strong></h2>

In [8]:
#Selecting only the columns we require 
df = df.drop(df.columns[-4:], axis=1)
#Removing unnecessary columns
df = df.drop(["primaryCategories","imageURLs","sourceURLs","ean","asins","upc","keys"],axis=1)

In [9]:
#Counting the total imp of product
def imp_date(x1):
    x1_list =x1.strip("'").split(",")
    return x1_list

def imp_counter(x1):
    x1_list =x1.strip("'").split(",")
    x1_count = len(x1_list)
    return x1_count


df["Date"]= df["prices.dateSeen"].apply(imp_date)
df["Imp_count"]= df["prices.dateSeen"].apply(imp_counter)

df =df.explode("Date")

In [10]:
df["prices.availability"].unique()

array(['Yes', 'In Stock', 'TRUE', 'undefined', 'yes', 'Out Of Stock',
       'Special Order', 'No', 'More on the Way', 'sold', 'FALSE',
       'Retired', '32 available', '7 available', nan, 'Limited Stock',
       'Discontinued', 'More Coming Soon'], dtype=object)

In [11]:
# Price availability is categorized
df["prices.availability"] = np.where(df["prices.availability"].str.contains("Yes|TRUE|In Stock|yes|available",case=False),"Yes",
                            np.where(df["prices.availability"].str.contains("Discontinued|Retired|FALSE|No|sold",case=False),"No",
                            np.where(df["prices.availability"].str.contains("Yes|In Stock",case=False),"Special",np.NaN)))

In [12]:
#Product condition categorization
df["prices.condition"] = np.where(df["prices.condition"].str.contains("new",case=False),"New",
                         np.where(df["prices.condition"].str.contains("refurbished",case=False),"Refurbished",
                         np.where(df["prices.condition"].str.contains("pre-owned|used",case=False),"Used",np.NaN)))

In [13]:
#Seller Names
SURL = df["prices.sourceURLs"]
df['Merchant'] = pd.np.where(SURL.str.contains('bhphotovideo', case=False), "bhphotovideo.com",
                 pd.np.where(SURL.str.contains('eBay|e bay', case=False), "ebay.com",
                 pd.np.where(SURL.str.contains('Amazon',case=False), "Amazon.com", 
                 pd.np.where(SURL.str.contains('Bestbuy',case=False), "Bestbuy.com",
                 pd.np.where(SURL.str.contains('Homedepot',case=False), "homedepot.com",
                 pd.np.where(SURL.str.contains('newegg',case=False), "newegg.com",
                 pd.np.where(SURL.str.contains('kmart',case=False), "kmart.com",
                 pd.np.where(SURL.str.contains('frys',case=False), "frys.com",
                 pd.np.where(SURL.str.contains('cdw',case=False), "cdw.com",
                 pd.np.where(SURL.str.contains('target',case=False), "target.com",
                 pd.np.where(SURL.str.contains('overstock',case=False), "overstock.com",
                 pd.np.where(SURL.str.contains('barcodable',case=False), "barcodable.com",
                 pd.np.where(SURL.str.contains('kohls',case=False), "kohls.com",
                 pd.np.where(SURL.str.contains('sears',case=False), "sears.com",
                 pd.np.where(SURL.str.contains('Wal-mart|Walmart',case=False), "Walmart.com","Other")))))))))))))))

In [14]:
df["Merchant"].value_counts().head(15)

Bestbuy.com         16709
bhphotovideo.com    10260
Walmart.com          6179
ebay.com             4406
Amazon.com           2381
target.com           2220
Other                 285
kohls.com             248
barcodable.com        138
frys.com              126
kmart.com             115
cdw.com                79
newegg.com             46
homedepot.com          27
sears.com              10
Name: Merchant, dtype: int64

In [15]:
#Renaming Columns for ease of understanding
df = df.rename(columns={"prices.amountMax":"Actual_price",
                        "prices.amountMin":"Discount_price",
                        "prices.availability":"Product_availability",
                        "prices.condition":"Condition",
                        "prices.isSale":"isSale",
                        "categories":"Description",
                        "brand":"Brand",
                        "name":"Name"})

In [16]:
#Product is on sale or not checker
df['isSale'] = np.where(df['Actual_price']> df['Discount_price'],"Yes", "No")

In [17]:
###################### DATA FILTERING #########################
#setting some filters for major values
dfx = df[ (df["prices.currency"])=="USD"]
dfx = dfx[ (dfx["Condition"])=="New"]

In [18]:
dfx["Condition"].unique()

array(['New'], dtype=object)

In [19]:
#Percentage Discount
dfx["Discount_per"] = round((((dfx["Actual_price"]-dfx["Discount_price"])/dfx["Actual_price"])*100))

In [20]:
#Selecting only the columns we require 
dfx = dfx[["id","Name","Brand","Description","Category_name","Merchant","Actual_price","Discount_price","isSale","Discount_per","Imp_count","Date"]]

In [21]:
#Spliting date to > day, month, week, month name etc.
dfx['Date']= pd.to_datetime(dfx['Date'])
dfx['Day'] = dfx['Date'].dt.day
dfx['Month'] = dfx['Date'].dt.month
dfx['Year'] = dfx['Date'].dt.year
dfx['Week'] = dfx['Date'].dt.week
dfx['Month_Name'] = dfx['Date'].dt.strftime('%B')
dfx['Day_Name'] = dfx['Date'].dt.strftime('%A')
dfx['Year_Month'] = dfx['Date'].dt.strftime('%Y-%m')
dfx['Year_Week'] = dfx['Date'].dt.strftime('%Y,%W')
dfx['date'] = pd.to_datetime(dfx['Date'].dt.date)
dfx = dfx.drop(columns=["Date"])
dfx = dfx.rename(columns={"date":"Date"})

In [22]:
dfx = dfx.reset_index(drop=True)

In [23]:
dfx.sort_values("Date")

              id       Name      Brand  ... Year_Month Year_Week       Date
31798  AVpfnL...  Sony -...       Sony  ...    2014-05   2014,21 2014-05-30
31797  AVpfnL...  Sony -...       Sony  ...    2014-05   2014,21 2014-05-30
35163  AVpfcu...  Canon ...      Canon  ...    2014-08   2014,33 2014-08-23
17638  AVpgzp...  AudioQ...  AudioQ...  ...    2014-08   2014,34 2014-08-30
27838  AVpf6Q...  Insign...  Insignia™  ...    2014-08   2014,34 2014-08-31
...          ...        ...        ...  ...        ...       ...        ...
30987  AV1T0K...  Magic ...      Apple  ...    2018-07   2018,30 2018-07-25
35360  AV1YHu...  Alpha ...       Sony  ...    2018-07   2018,30 2018-07-25
23188  AVpf64...  1506TS...    Pelican  ...    2018-07   2018,30 2018-07-25
5594   AVpfB5...  Audio ...        SKB  ...    2018-07   2018,30 2018-07-25
4451   AVpftu...  Gear 3...    Samsung  ...    2018-07   2018,30 2018-07-25

[41869 rows x 20 columns]

In [24]:
dfx

              id       Name    Brand  ... Year_Month Year_Week       Date
0      AVphzg...  Sanus ...    Sanus  ...    2017-03   2017,13 2017-03-30
1      AVphzg...  Sanus ...    Sanus  ...    2017-03   2017,10 2017-03-10
2      AVphzg...  Sanus ...    Sanus  ...    2017-03   2017,09 2017-03-04
3      AVphzg...  Sanus ...    Sanus  ...    2017-03   2017,09 2017-03-03
4      AVpgMu...  Boyton...  Boytone  ...    2017-12   2017,50 2017-12-14
...          ...        ...      ...  ...        ...       ...        ...
41864  AVpgib...  naxa -...     naxa  ...    2017-06   2017,22 2017-06-01
41865  AVpgib...  naxa -...     naxa  ...    2017-06   2017,22 2017-06-01
41866  AVpgib...  naxa -...     naxa  ...    2018-03   2018,10 2018-03-05
41867  AVpgib...  naxa -...     naxa  ...    2016-03   2016,12 2016-03-22
41868  AVpgib...  naxa -...     naxa  ...    2015-12   2015,48 2015-12-05

[41869 rows x 20 columns]

In [25]:
#Exporing the Cleaning Data as CSV
dfx.to_csv("CleanedData.csv",index=False)